@using BigMill.Infrastructure
@{
    string PipoAllCpunt = ViewBag.AllTicketCount;
    string PipoResponseCount = ViewBag.ResponseTicketCount;
    string PipoUnResponseCount = ViewBag.UnResponseTicketCount;
    string PipoToResponseCount = ViewBag.ToResponseTicketCount;
}

    @Ajax.RawActionLink("<li class=\"PipoAccessoryLi myPipoAccessoryList\" onclick=\"PipoTicketAccessoryClicked(this.id)\" Id=\"PipoTicketAccessory_1\"><span class=\"title\">&nbsp; همه </span><span class=\"badge pull-right\">  " + PipoAllCpunt + " </span></li>", "TicketList", "Tickets",
                                            null,
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "PipoTicketList",
                                             InsertionMode = InsertionMode.Replace,
                                             HttpMethod = "Post",
                                             OnSuccess = "PipoOnPageChange",
                                             OnBegin = "PipoOnTicketListLoadingShow"
                                         }, null)



    @Ajax.RawActionLink("<li class=\"PipoAccessoryLi myPipoAccessoryList\" onclick=\"PipoTicketAccessoryClicked(this.id)\" Id=\"PipoTicketAccessory_2\"><span class=\"title\">&nbsp; پاسخ داده شده </span><span class=\"badge pull-right\">  " + PipoResponseCount + " </span></li>", "TicketList", "Tickets",
                                                    new { TicketStatus = "پاسخ داده شده" },
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "PipoTicketList",
                                             InsertionMode = InsertionMode.Replace,
                                             HttpMethod = "Post",
                                             OnSuccess = "PipoOnPageChange",
                                             OnBegin = "PipoOnTicketListLoadingShow"

                                         }, null)

@Ajax.RawActionLink("<li class=\"PipoAccessoryLi myPipoAccessoryList\" onclick=\"PipoTicketAccessoryClicked(this.id)\" Id=\"PipoTicketAccessory_3\"><span class=\"title\">&nbsp; در حال بررسی </span><span class=\"badge pull-right\">  " + PipoToResponseCount + " </span></li>", "TicketList", "Tickets",
                                                        new { TicketStatus = "در حال بررسی" },
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "PipoTicketList",
                                             InsertionMode = InsertionMode.Replace,
                                             HttpMethod = "Post",
                                             OnSuccess = "PipoOnPageChange",
                                             OnBegin = "PipoOnTicketListLoadingShow"

                                         }, null)



    @Ajax.RawActionLink("<li class=\"PipoAccessoryLi myPipoAccessoryList\" onclick=\"PipoTicketAccessoryClicked(this.id)\" Id=\"PipoTicketAccessory_4\"><span class=\"title\">&nbsp; در وضعیت انتظار </span><span class=\"badge pull-right\">  " + PipoUnResponseCount + " </span></li>", "TicketList", "Tickets",
                                            new { TicketStatus = "در وضعیت انتظار" },
                                         new AjaxOptions
                                         {
                                             UpdateTargetId = "PipoTicketList",
                                             InsertionMode = InsertionMode.Replace,
                                             HttpMethod = "Post",
                                             OnSuccess = "PipoOnPageChange",
                                             OnBegin = "PipoOnTicketListLoadingShow"
                                         },null)





