@model BigMill.Models.PostsCommentsReply
<span><a href="#" title="Comment on Mumblecore sapiente pork belly">@Model.NumberOfLikes</a><i class="icon-thumbs-up"></i> </span>
<span><a href="#" title="Comment on Mumblecore sapiente pork belly">@Model.NumberOfDislikes</a><i class="icon-thumbs-down"></i> </span>