@model IEnumerable<BigMill.Models.Post>
<h3 class="col-title">@Resource.Resource.Footer_Gallery</h3>
<span class="liner"></span>
<div class="recent recent-portfolio">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="post-thumbnail">
                    <a class="mini-thumb toptip portfolio-pic" href="@Url.Action("PhotosGallery","Gallery")" title="@item.Content_One">
                        <img src="~/Content/UplodedImages/PostImages/@item.Content_Two" alt="Image Alt" style="width:150px;height:75px;" />
                    </a>
                </div>
            </li>
        }
    </ul>
</div>
