@model IEnumerable<BigMill.Models.PostModel>

@foreach (var item in Model)
{
    <li style="margin-left:20px;">
        <span style="font-size:15px;color:red;">@item.CreateDateUtcJalali</span>
        <span style="font-size:15px;">@item.Content_One</span>
    </li>
}

