



<div role="alert" class="alert alert-success" style="padding-top:75px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>تبریک!</strong> وضعیت تیکت با موفقیت تغییر کرد
</div>

