

<div class="message-actions">
    <ul class="actions no-margin no-padding block">
        <li class="email-list-toggle">
            <a href="#"><i class="fa fa-angle-left"></i> All Inboxes </a>
        </li>
        <li class="actions-dropdown">
            <span class="dropdown">
                <a class="dropdown-toggle" href="" data-toggle="dropdown">
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-light">
                    <li>
                        <a href="#">
                            Replyo
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Reply all
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Forward
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Delete
                        </a>
                    </li>
                </ul>
            </span>
        </li>
        <li class="no-padding">
     
                @Ajax.ActionLink(Resource.Resource.Ticket_Reply, "TicketResponse", "Tickets", new { F_LastTicketInboxId = @ViewBag.F_LastTicketId }, new AjaxOptions
                           {
                               UpdateTargetId = "TicketResponse",
                               InsertionMode = InsertionMode.Replace,
                               LoadingElementId = "TicketReader_Loading",
                               HttpMethod = "Get"
                           }, new { @class = "text-info" })
   

        </li>
        <li class="no-padding">
            <a href="#">
                Reply all
            </a>
        </li>
        <li class="no-padding">
            <a href="#">
                Forward
            </a>
        </li>
        <li class="no-padding">
            <a href="#">
                Delete
            </a>
        </li>
    </ul>
</div>