<h3 class="col-title">@Resource.Resource.User_AyineKhedmat</h3><span class="liner"></span>
<ul style="">
    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["WebSiteURL"]Content/DrKHezri-Report1.pdf">دانلود گزارش روزانه نخست</a></li>
    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["WebSiteURL"]Content/2Final.pdf">دانلود گزارش عملکرد سال دوم</a></li>
</ul>