<h3 class="col-title">@Resource.Resource.User_BrifeFunctional</h3>
<span class="liner"></span>
<a href="@Url.Action("StaticView", "Static", new { FileName = "BrifeFunctional" })"><img src="~/Content/drkhz.jpg" /></a>