@model IEnumerable<BigMill.Models.RssModel>
<h3 class="col-title">@Resource.Resource.User_DailyNews</h3>
<span class="liner"></span>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="@item.Url">@item.Title</a>
        </li>
    }
</ul>