<h3 class="col-title">@Resource.Resource.User_RuzPic</h3><span class="liner"></span>
<img src="~/Content/sale-95.jpg" style="overflow:hidden; width:340px; height: 402px;" allowtransparency="true"></img>