
<h3 class="col-title">@Resource.Resource.User_RuzWord</h3><span class="liner"></span>
<div class="disabledRuzSpeech">
    <iframe class="disabledRuzSpeech" src="http://hadis.toolsir.com/hadis.php?color=000000&amp;bg=FFFFFF&amp;bc=FFFFFF&amp;m=1,2,3,4,5,6,7,8,9,10,11,12,13,14,&amp;time=none" scrolling="no" frameborder="0" hspace="0" align="center" width="154" height="160" style="border:1px solid #FFFFFF;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;"></iframe>
</div>