<h3 class="col-title">@Resource.Resource.User_SpeechVideo</h3>
<span class="liner"></span>
<video src="/api/video/mp4/tazakor1" width="270" height="220" controls style="margin-right:-5px" type="video/mp4"></video>