<h3 class="col-title">@Resource.Resource.User_Links</h3>
<span class="liner"></span>
<div class="ads clearfix">
    <a href="http://www.khamenei.ir"><img src="~/Content/l1.gif" style=" border-radius: 5px;" /></a>
    <a href="http://www.icana.ir/Fa/"><img src="~/Content/l2.gif" style=" border-radius: 5px;" /></a>
    <a href="http://www.parliran.ir/"><img src="~/Content/l3.gif" style=" border-radius: 5px;" /></a>
    <a href="http://rc.majlis.ir/fa#&panel1-2"><img src="~/Content/l4.gif" style=" border-radius: 5px;" /></a>
    <a href="http://www.ical.ir/"><img src="~/Content/l5.gif" style=" border-radius: 5px;" /></a>
    <a href="http://www.majlesnews.ir/"><img src="~/Content/l6.gif" style=" border-radius: 5px;" /></a>
    <a href="http://www.shora-gc.ir/Portal/Home/"><img src="~/Content/l7.gif" style=" border-radius: 5px;" /></a>
    <a href="http://president.ir/fa"><img src="~/Content/l8.png" style=" border-radius: 5px;" /></a>
</div>