@model BigMill.Models.TelegramModel


<div class="col-lg-8 col-lg-offset-2">

    <fieldset>
        <legend>
            @Resource.Resource.Telegram_SendMessage<span class="symbol required"></span>
        </legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="note-editor">
                            @Html.TextAreaFor(model => model.Caption, new { @class = "form-control autosize area-animated FixedColTextArea", placeholder ="متن پیام", @style = "height:85px; min-height:85px;  max-height:85px", maxlength = "190" })
                            @Html.ValidationMessageFor(model => model.Caption)
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center">
                <button type="button" class="btn btn-wide btn-dark-green ladda-button " data-style="contract" onclick="TelegramMedia_Submit('SendMessage')">
                    <span class="ladda-label">ارسال به تلگرام</span>
                </button>

            </div>




    </fieldset>
</div>