
<div class="col-lg-6 col-lg-offset-3">
    <div role="alert" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        عملیات ارسال به کانال تلگرام با موفقیت انجام گرفت.
    </div>
</div>
