@using (Html.BeginForm("SearchResult", "Search", FormMethod.Post))
{
    <input style="font-size:15px;width: 80%;" name="SearchBox" type="text" placeholder="@Resource.Resource.User_StartSearch" />
    <button style=" width: 16%;height: 33px;" type="submit"><i class="icon-search"></i></button>
}