@{
    Layout = null;
}
@if (ViewBag.TicketSuccess != null)
{
    <div class="notification-box notification-box-success notif-anim">
        <p style="font-size: 25px;"><i class="icon-ok"></i>@ViewBag.TicketSuccess</p>
    </div>
}
@if (ViewBag.TicketError != null)
{
    <div class="notification-box notification-box-error notif-anim">
        <p style="font-size: 25px;"><i class="icon-remove-sign"></i>@ViewBag.TicketError</p>
    </div>
}
@if (ViewBag.TicketWarning != null)
{
    <div class="notification-box notification-box-warning notif-anim">
        <p style="font-size: 25px;"><i class="icon-remove-sign"></i>@ViewBag.TicketWarning</p>
    </div>
}