@if (ViewBag.PollSuccess != null)
{
    <div class="notification-box notification-box-success notif-anim">
        <p><i class="icon-ok"></i>@ViewBag.PollSuccess</p>
        <a class="notification-close" href="#"><i class="icon-remove"></i></a>
    </div>
}
@if (ViewBag.PollError != null)
{
    <div class="notification-box notification-box-error notif-anim">
        <p><i class="icon-remove-sign"></i>@ViewBag.PollError</p>
        <a class="notification-close" href="#"><i class="icon-remove"></i></a>
    </div>
}
@if (ViewBag.PollWarning != null)
{
    <div class="notification-box notification-box-warning notif-anim">
        <p><i class="icon-remove-sign"></i>@ViewBag.PollWarning</p>
        <a class="notification-close" href="#"><i class="icon-remove"></i></a>
    </div>
}