<style>
    .mypipoul li{
        margin-bottom:10px;
    }
</style>
<div class="grid_4" style="float:right">
    <h3 class="col-title">سوابق کاری</h3>
    <span class="liner"></span>
    <div style="width: 800px;">
        <ul class="mypipoul" style="font-size: 15px;list-style:circle; margin-right:15px;">
            <li>
                رییس فراکسیون ارتقای طب کشور
            </li>
            <li>
                هیات رییسه فراکسیون حمایت از حقوق افراد دارای معلولیت و بهزیستی مجلس شورای اسلامی
            </li>
            <li>
                هیات رییسه فراکسیون ورزش مجلس شورای اسلامی
            </li>
            <li>
                هیات رییسه فراکسیون مناطق مرزی مجلس شورای اسلامی
            </li>
            <li>
                هیات رییسه فراکسیون توسعه روستایی کشور مجلس شورای اسلامی
            </li>
            <li>
                هیات رییسه فراکسیون گردشگری و میراث فرهنگی مجلس شورای اسلامی
            </li>
            <li>
                هیات رییسه فراکسیون هلالاحمر مجلس شورای اسلامی
            </li>
            <li>
                ناظر شورایعالی نظام پزشکی کشوربا رای نمایندگان مجلس شورای اسلامی
            </li>
            <li>
                عضو شورای راهبردی دانشگاه آزاد اسلامی کشور
            </li>
            <li>
                هیات رییسه فراکسیون دانشگاهیان کشورمجلس شورای اسلامی
            </li>
            <li>
                رییس کمیته ساختار کمیسیون بهداشت و درمان مجلس شورای اسلامی
            </li>
            <li>
                عضو کمیسیون های مشترک بررسی و اصلاح لایحه قانون حمایت از حقوق معلولان کشور
            </li>
            <li>
                عضو هیات رییسه کمیسیون بهداشت و درمان مجلس شورای اسلامی
            </li>
            <li>
                دبیرکمیسیون بهداشتو درمان مجلس شورای اسلامی
            </li>
            <li>
                هیات رییسه فراکسیون ورزش و جوانان مجلس شورای اسلامی
            </li>
            <li>
                عضو کمیته بررسی ساختار نظام سلامت درکمیسیون بهداشت و درمان مجلس شورای اسلامی
            </li>
            <li>
                عضو گروه دوستی پارلمان  ایران و آلمان درمجلس شورای اسلامی
            </li>
            <li>
                عضو گروه دوستی پارلمان  ایران و ایتالیا درمجلس شورای اسلامی
            </li>
            <li>
                عضو گروه دوستی پارلمان  ایران و هلند درمجلس شورای اسلامی
            </li>
            <li>
                عضو گروه دوستی پارلمان  ایران و دانمارک درمجلس شورای اسلامی
            </li>
            <li>
                عضو گروه دوستی پارلمان  ایران و ایرلند درمجلس شورای اسلامی
            </li>
            <li>
                عضواصلی کمیته کارگروه بررسی ، مقایسه و مطالعه ساختارنظام سلامت و بیمه استرالیا و ایتالیا در سال های 93و 94
            </li>
            <li>
                عضو شورای راهبردی حوزه سلامت مرکز پژوهش های مجلس شورای اسلامی
            </li>
            <li>
                عضو کمیته اصلی بررسی تدوین فهرست رسمی دارویی کشور
            </li>
            <li>
                عضو اصلی بررسی بودجه کلان حوزه سلامت کشوربا حضور در برنامه های نبض پخش زنده شبکه خبر
            </li>
        </ul>
    </div>
</div>