<h3 class="col-title" style="float: right;width: 100%;margin-top: -50px;margin-bottom: 35px;">راهنمای سامانه :</h3>
<style>
    #TutorialSabtBaCodeAppendedButton :hover
    {
        background-color:#9c9c9c;
    }
</style>
<div>
    <button id="TutorialSabtBaCodeAppendedButton" style="font-family: inherit;border: none;width:33%;cursor: pointer;height:70px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;background-color:black;color:white;">ارسال درخواست به همراه کد پیگیری</button>
    <button id="TutorialSabtBeduneCodeAppendedButton" style="font-family: inherit;border: none;width:33%;cursor: pointer;height:70px;background-color:black;color:white;">ارسال درخواست بدون کد پیگیری</button>
    <button id="TutorialPeygiriAppendedButton" style="font-family: inherit;border: none;width:33%;cursor: pointer;height:70px;border-top-left-radius:10px;border-bottom-left-radius: 10px;background-color:black;color:white;">پیگیری درخواست</button>
</div>
<div id="TutorialAppendedBox"></div>
