<style>
    .mypipoul li {
        margin-bottom: 10px;
    }
</style>
<div class="grid_4" style="float:right">
    <h3 class="col-title">سوابق علمی</h3>
    <span class="liner"></span>

    <div style="width: 550px;font-size: 15px;">
        برخی از سوابق علمی رسول خضری:
        <ul class="mypipoul" style="font-size: 15px;list-style:circle; margin-right:15px;margin-top:10px;">
            <li>
                - کسب رتبه 5 در رشته دندان پزشکی و داروسازی و رتبه 18 رشته پزشکی در کنکور سراسری سال 1366
            </li>
            <li>
                -اخذ مدرک دکترای پزشکی با معدل 17/66 از دانشگاه علوم پزشکی تهران در سال 1374
            </li>
            <li>
                در حال تکمیل...
            </li>
        </ul>
    </div>
</div>
<img src="../../Content/DR.jpg" style="float: left;margin-top: 50px;" />