<style>
    .mypipoul li {
        margin-bottom: 30px;
    }
</style>
<div class="grid_7" style="float:right">
    <h2 class="col-title">آدرس دفاتر ارتباط مردمی و شماره های تماس در تهران و شهرستان ها به صورت زیر می باشد:</h2>
    <span class="liner"></span>

    <div style="width: 550px;font-size: 15px;">
        <ul class="mypipoul" style="font-size: 15px;list-style:circle; margin-right:15px;margin-top:10px;">
            <li>
                <p>تهران : مجلس شورای اسلامی، طبقه دوم، دفتر ارتباطات مردمی دکتر رسول خضری</p>
                <p style="margin-top: -25px;"> <i class="icon-phone icon-xs" style="margin-left: 5px;"></i>تلفکس : 02133121937</p>
            </li>
            <li>
                <p>پیرانشهر : خیابان پزشک، روبروی ساختمان کمیته امداد امام خمینی(ره)</p>
                <p style="margin-top: -25px;"> <i class="icon-phone icon-xs" style="margin-left: 5px;"></i>تلفکس : 04444229140</p>
                <p style="margin-top: -25px;"><i class="icon-user icon-xs" style="margin-left: 5px;"></i>مسول دفتر آقای علی سیار</p>
            </li>
            <li>
                <p style="margin-top: -15px;">سردشت : ساختمان جهاد کشاورزی- طبقه همکف</p>
                <p style="margin-top: -25px;"> <i class="icon-phone icon-xs" style="margin-left: 5px;"></i>تلفکس : 04444323103</p>
                <p style="margin-top: -25px;"><i class="icon-user icon-xs" style="margin-left: 5px;"></i>مسئول دفتر آقای ابراهیمی</p>
            </li>
            <li>
                <p style="margin-top: -15px;">ربط : آدرس:محل اداری شورای اسلامی شهر ربط واقع در خیابان امام (ره)</p>
                <p style="margin-top: -25px;"> <i class="icon-phone icon-xs" style="margin-left: 5px;"></i>تلفن: 3363023- 3364212 (044)</p>
                <p style="margin-top: -25px;"><i class="icon-user icon-xs" style="margin-left: 5px;"></i>مسئول دفتر آقای کمال حیدرزاده</p>
            </li>
        </ul>
    </div>
</div>
<div class="grid_5" style="float:right">
    <img src="../../Content/UplodedImages/DrKhezriErtebatatMardomi.jpg" style="margin-top: 40px;width: 420px;height: 300px; border:10px solid;border-color:black" />
</div>